params {
    input_csv = "*.csv"
    outdir = "${projectDir}/reference"
    binSize = 1000000
    refSize = "500"
    wiseRefSize = "500"
    gender_threshold = ""
    ff_ref_tsv = ""
}
workDir=""
executor {
    name = 'local'
    queueSize = 10
    cpus = 20
    memory = 40.GB
}
profiles {
    singularity {
        singularity.enabled     = true
        singularity.pullTimeout = '24h'
        singularity.autoMounts  = true
    }
    slurm {
        executor{
            name = 'slurm'
            queueSize = 1
        } 
        queue = 'LocalQ'
    }
    conda {
        conda.enabled = true
    }
}
process {
    resourceLimits = [
    cpus: 20,
    memory: 40.GB
    ]
    withName: create_ref_nipter {
        cpus   = { 16    * task.attempt}
        memory = { 64.GB * task.attempt }
    }
    withName: create_ref_sanefalcon {
        cpus   = { 8    * task.attempt}
        memory = { 16.GB * task.attempt }
    }
    withName: create_ref_sanefalcon {
        cpus   = { 16    * task.attempt}
        memory = { 64.GB * task.attempt }        
    }
    withName: convert_files {
        cpus   = { 2    * task.attempt }
        memory = { 4.GB * task.attempt }
    }
    withName: convert_gender {
        cpus   = { 1    * task.attempt }
        memory = { 8.GB * task.attempt }
    }
    withName: create_ref {
        cpus   = { 4    * task.attempt }
        memory = { 10.GB * task.attempt }
    }
}   

// Get current timestamp
def timestamp = new java.text.SimpleDateFormat("yyyyMMdd_HHmmss").format(new Date())
report {
    overwrite = true
}
timeline {
    overwrite = true
}
trace {
    overwrite = true
}
dag {
    overwrite = true
}